#foot{
    background-color: slategray;
    text-align: center;
    color: white;
    padding: 15px 0 10px 0;
    font-size: 12px;
    border-top: #4aaaa5 solid 8px; 
}

#navigation{
    float: right;
}

#subhead {
    /* width: 840px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding: 10px 0 15px 0;
    border-bottom: 2px gray solid;
    background: white;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
}

#body-row {
    margin-top: 20px;
}

#form {
    width: 80%;
    margin-left: 5%;
}

img{
    max-width: 400px;
    margin:20px;
}